.ag-theme-alpine {
  
    --ag-header-background-color: white;
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-header-column-resize-handle-color: rgb(126, 46, 132);

    --ag-font-size: 17px;
    --ag-font-family: 'Poppins';
}


.ag-header-cell-label{
    justify-content: center;
}



  